AGENTE de IA - Agendamento de consultorias.json
{
	"name": "AGENTE de IA - Agendamento de consultorias",
	"nodes": [
		{
			"parameters": {
				"options": {
					"systemMessage": "=Agora você é um atendente de agendamentos de consultoria. Sou nome é Ianis.\n\nConsulta Tech é uma consultoria especializada em tecnologia que oferece soluções ágeis, inteligentes e personalizadas para empresas que buscam inovação, eficiência e crescimento digital. Atuamos com foco em resultados, alinhando estratégia e tecnologia para transformar desafios em oportunidades.\n\n\n\nO dia de hoje é:\n{{ $now }}\n\nUse as tools para ver os serviços disponíveis e as datas disponíveis para agenda.\n\nO titulo da agenda deve ser:\nConsultoria - Nome do cliente (nome do serviço)\n\nSiga a ordem:\n- Se apresentar e apresentar a empresa\n- Solicitar nome do cliente;\n- Informar os serviços, decrições e preços;\n- Solicitar o e-mail do cliente;\n- Agendar consultoria de acordo com a disponibilidade da agenda;\n\nO agendamento deve conter o nome do cliente, o serviço e atraves do e-mail passado pelo cliente ele deve ser inserido como participante.\n\nToda consultoria tem a duração de uma hora.\nNão informe sites ou redes sociais.\nNão use emojis."
				}
			},
			"type": "@n8n/n8n-nodes-langchain.agent",
			"typeVersion": 2,
			"position": [420, -1380],
			"id": "afa8dafa-0d32-4a93-9d8f-ee705840d607",
			"name": "AI Agent"
		},
		{
			"parameters": {
				"modelName": "models/gemini-2.0-flash",
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
			"typeVersion": 1,
			"position": [300, -1160],
			"id": "36e3a7d1-74b6-4f86-afb0-27094e599431",
			"name": "Modelo - Gemini",
			"credentials": {
				"googlePalmApi": {
					"id": "CREDENTIAL_ID_PLACEHOLDER",
					"name": "Google Gemini(PaLM) Api account"
				}
			}
		},
		{
			"parameters": {},
			"type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
			"typeVersion": 1.3,
			"position": [440, -1160],
			"id": "36ef014c-a283-4da3-9795-029903f9e2ac",
			"name": "Chat Memory - Postgre",
			"credentials": {
				"postgres": {
					"id": "CREDENTIAL_ID_PLACEHOLDER",
					"name": "Postgres account"
				}
			}
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "68111122-f777-46d5-a4c5-9095a626018c",
							"name": "output",
							"value": "={{ $json.output }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [760, -1380],
			"id": "9a95d601-8e70-40ee-a84f-21ebc557e6c6",
			"name": "Coleta de resposta"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://api.twilio.com/2010-04-01/Accounts/ACCOUNT_SID_PLACEHOLDER/Messages.json",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [{}]
				},
				"sendBody": true,
				"contentType": "form-urlencoded",
				"bodyParameters": {
					"parameters": [
						{
							"name": "To",
							"value": "whatsapp:PHONE_NUMBER_PLACEHOLDER"
						},
						{
							"name": "From",
							"value": "whatsapp:TWILIO_PHONE_PLACEHOLDER"
						},
						{
							"name": "Body",
							"value": "={{ $json.output }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [960, -1380],
			"id": "f359f226-7fd8-46ff-805d-731360b7d85e",
			"name": "Responder",
			"alwaysOutputData": true,
			"credentials": {
				"httpBasicAuth": {
					"id": "CREDENTIAL_ID_PLACEHOLDER",
					"name": "Unnamed credential"
				}
			}
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "f2290f21-0644-46a5-adbf-4de78001fc48",
							"name": "sessionId",
							"value": "={{ $json.sessionId }}",
							"type": "string"
						},
						{
							"id": "64550436-c51f-4495-88af-1a14ac61fb2a",
							"name": "chatInput",
							"value": "={{ $json.chatInput }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [220, -1380],
			"id": "a38aad6d-66db-43e4-a03e-177e43edda46",
			"name": "Padronizar input"
		},
		{
			"parameters": {
				"sseEndpoint": "MCP_ENDPOINT_PLACEHOLDER"
			},
			"type": "@n8n/n8n-nodes-langchain.mcpClientTool",
			"typeVersion": 1,
			"position": [840, -1100],
			"id": "efab78a8-2e5a-4ddf-bb55-9bdef6e06acb",
			"name": "MCP - Consultorias"
		},
		{
			"parameters": {
				"sseEndpoint": "MCP_ENDPOINT_PLACEHOLDER"
			},
			"type": "@n8n/n8n-nodes-langchain.mcpClientTool",
			"typeVersion": 1,
			"position": [840, -1220],
			"id": "e274146d-a7a1-4273-8948-89eb7ef375eb",
			"name": "MCP - Calendário"
		},
		{
			"parameters": {
				"description": "Lembre-se de informar os preços corretos e as descrições corretas.\n\nCaso o cliente solicite algo fora da lista informe que não possui o item"
			},
			"type": "@n8n/n8n-nodes-langchain.toolThink",
			"typeVersion": 1,
			"position": [580, -1160],
			"id": "794b61d3-32b3-4e54-aecb-fbdcca0f601e",
			"name": "Reflexão"
		},
		{
			"parameters": {
				"content": "## AGENTE de IA - Agendamento de consultorias",
				"height": 1000,
				"width": 1300,
				"color": 4
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [-80, -1700],
			"typeVersion": 1,
			"id": "921b87ff-4c48-4eaf-9869-95fc20c014b5",
			"name": "Sticky Note2"
		},
		{
			"parameters": {
				"assignments": {
					"assignments": [
						{
							"id": "f2290f21-0644-46a5-adbf-4de78001fc48",
							"name": "sessionId",
							"value": "={{ $json.body.From }}",
							"type": "string"
						},
						{
							"id": "64550436-c51f-4495-88af-1a14ac61fb2a",
							"name": "chatInput",
							"value": "={{ $json.body.Body }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [0, -1380],
			"id": "e89eac76-98d8-4ce2-a8f7-9777d2c3fe72",
			"name": "Padronizar input - twlio"
		},
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "whatsapp-receiver",
				"options": {}
			},
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2,
			"position": [0, -1600],
			"id": "955ac8d-57b5-4334-b164-bc17dc9c994e",
			"name": "Mensagem recebida",
			"webhookId": "WEBHOOK_ID_PLACEHOLDER"
		},
		{
			"parameters": {},
			"type": "@n8n/n8n-nodes-langchain.toolCalculator",
			"typeVersion": 1,
			"position": [680, -1160],
			"id": "680ebd43-3a37-4293-9863-45d63aba62ed",
			"name": "Calculadora"
		},
		{
			"parameters": {
				"mode": "retrieve-as-tool",
				"toolDescription": "Utilize a tabela para pegar os dados sobre as consultorias.",
				"tableName": {
					"__rl": true,
					"value": "documents",
					"mode": "list",
					"cachedResultName": "documents"
				},
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
			"typeVersion": 1.3,
			"position": [560, -1020],
			"id": "fc7b59f7-ecd6-42b7-bd6b-0fb6dc5c740a",
			"name": "Supabase Vector Store",
			"credentials": {
				"supabaseApi": {
					"id": "CREDENTIAL_ID_PLACEHOLDER",
					"name": "Supabase account"
				}
			}
		},
		{
			"parameters": {},
			"type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
			"typeVersion": 1,
			"position": [560, -860],
			"id": "7a565026-ce89-4b88-841e-e0f857cf06ac",
			"name": "Embedding para leitura - Google Gemini",
			"credentials": {
				"googlePalmApi": {
					"id": "CREDENTIAL_ID_PLACEHOLDER",
					"name": "Google Gemini(PaLM) Api account"
				}
			}
		},
		{
			"parameters": {
				"options": {}
			},
			"type": "@n8n/n8n-nodes-langchain.chatTrigger",
			"typeVersion": 1.1,
			"position": [220, -1600],
			"id": "2ea3a8ab-35a2-4cc1-abc3-1b1a98dbff73",
			"name": "Chat manual",
			"webhookId": "WEBHOOK_ID_PLACEHOLDER"
		}
	],
	"pinData": {},
	"connections": {
		"AI Agent": {
			"main": [
				[
					{
						"node": "Coleta de resposta",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Modelo - Gemini": {
			"ai_languageModel": [
				[
					{
						"node": "AI Agent",
						"type": "ai_languageModel",
						"index": 0
					}
				]
			]
		},
		"Chat Memory - Postgre": {
			"ai_memory": [
				[
					{
						"node": "AI Agent",
						"type": "ai_memory",
						"index": 0
					}
				]
			]
		},
		"Coleta de resposta": {
			"main": [
				[
					{
						"node": "Responder",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Padronizar input": {
			"main": [
				[
					{
						"node": "AI Agent",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"MCP - Consultorias": {
			"ai_tool": [
				[
					{
						"node": "AI Agent",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"MCP - Calendário": {
			"ai_tool": [
				[
					{
						"node": "AI Agent",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Reflexão": {
			"ai_tool": [
				[
					{
						"node": "AI Agent",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Padronizar input - twlio": {
			"main": [
				[
					{
						"node": "Padronizar input",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Mensagem recebida": {
			"main": [
				[
					{
						"node": "Padronizar input - twlio",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Calculadora": {
			"ai_tool": [
				[
					{
						"node": "AI Agent",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Embedding para leitura - Google Gemini": {
			"ai_embedding": [
				[
					{
						"node": "Supabase Vector Store",
						"type": "ai_embedding",
						"index": 0
					}
				]
			]
		},
		"Supabase Vector Store": {
			"ai_tool": [
				[
					{
						"node": "AI Agent",
						"type": "ai_tool",
						"index": 0
					}
				]
			]
		},
		"Chat manual": {
			"main": [
				[
					{
						"node": "Padronizar input",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": true,
	"settings": {
		"executionOrder": "v1"
	},
	"versionId": "VERSION_ID_PLACEHOLDER",
	"meta": {
		"instanceId": "INSTANCE_ID_PLACEHOLDER"
	},
	"id": "WORKFLOW_ID_PLACEHOLDER",
	"tags": []
}
